<%inherit file="base.html"/>

<style type="text/css">

.section {
 border-bottom: 2px solid gray;
}

.fixed_width {
  min-width: 600px;
}

</style>


<div class="container-fluid" style="margin-top: 60px">

<div class="row-fluid">

	<div class="span2">
	  <ul class="nav nav-list affix">
          <h5> AIMS Data for <br> individual mice </h5>
	  	  
	  <li class="nav-header"><a href="#chronic_high">Chronic High L-DOPA</a>
		<ul class="nav nav-list">
		  <li class><a href="#chronic_high_cp73">CP73</a></li>
		  <li class><a href="#chronic_high_cp101">CP101</a></li>		  
		</ul>
	  </li>
	  
	  
	  <li class="nav-header"><a href="#chronic_low">Chronic Low L-DOPA</a>
		<ul class="nav nav-list">
		  <li class><a href="#chronic_low_cp73">CP73</a></li>
		  <li class><a href="#chronic_low_cp101">CP101</a></li>		  
		</ul>
	  </li>

	  <li class="nav-header"><a href="#acute">Acute L-DOPA</a>
		<ul class="nav nav-list">
		  <li class><a href="#acute_cp73">CP73</a></li>
		</ul>
	  </li>	  

	  
	  </ul>
	</div>

<div class="span9">

	<div class="row-fluid">
		
		<div class="section" id="chronic_high">
		<h2> Chronic, High Dose L-DOPA </h2>

		<div class="section" id="chronic_high_cp73">
		<h3>CP73</h3>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp73_0.png"><img class="fixed_width" src="/static/aims/chronic_highdose_cp73_0.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp73_1.png"><img class="fixed_width"  src="/static/aims/chronic_highdose_cp73_1.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp73_2.png"><img class="fixed_width"  src="/static/aims/chronic_highdose_cp73_2.png"></img></a>
		</div>		

		
		<div class="section" id="chronic_high_cp101">
		<h3>CP101</h3>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp101_0.png"><img class="fixed_width"  src="/static/aims/chronic_highdose_cp101_0.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp101_1.png"><img class="fixed_width" src="/static/aims/chronic_highdose_cp101_1.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_highdose_cp101_2.png"><img class="fixed_width"  src="/static/aims/chronic_highdose_cp101_2.png"></img></a>
		</div>		
		
		</div>
		
		<div class="section" id="chronic_low">
		<h2> Chronic, Low Dose L-DOPA </h2>
					
		<div class="section" id="chronic_low_cp73">
		<h3>CP73</h3>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp73_0.png"><img class="fixed_width" src="/static/aims/chronic_lowdose_cp73_0.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp73_1.png"><img class="fixed_width" src="/static/aims/chronic_lowdose_cp73_1.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp73_2.png"><img class="fixed_width" src="/static/aims/chronic_lowdose_cp73_2.png"></img></a>
		</div>		

		
		<div class="section" id="chronic_low_cp101">
		<h3>CP101</h3>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp101_0.png"><img class="fixed_width" src="/static/aims/chronic_lowdose_cp101_0.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp101_1.png"><img class="fixed_width"  src="/static/aims/chronic_lowdose_cp101_1.png"></img></a>
		<a class="fancybox" href="/static/aims/chronic_lowdose_cp101_2.png"><img class="fixed_width" src="/static/aims/chronic_lowdose_cp101_2.png"></img></a>
		</div>				
		
		</div>


		<div class="section" id="acute">
		<h3> Acute L-DOPA </h3>
					
		<div class="section" id="acute_cp73">
		<h3>CP73</h3>
		<a class="fancybox" href="/static/aims/acute_highdose_cp73_0.png"><img class="fixed_width" src="/static/aims/acute_highdose_cp73_0.png"></img></a>
		<a class="fancybox" href="/static/aims/acute_highdose_cp73_1.png"><img class="fixed_width" src="/static/aims/acute_highdose_cp73_1.png"></img></a>
		<a class="fancybox" href="/static/aims/acute_highdose_cp73_2.png"><img class="fixed_width" src="/static/aims/acute_highdose_cp73_2.png"></img></a>
		</div>	
		
		</div>
		
		
		
     </div>

</div>




</div>

</div>

