## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
 <head>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
 
   <link href="/static/SlickGrid/slick.grid.css" rel='stylesheet' type="text/css"/>  
   <link href="/static/jquery-ui/themes/base/jquery-ui.css" rel='stylesheet' type="text/css"/>  
      
   <link href="/static/css/pd.css" rel='stylesheet' type="text/css"/>  
   <link href="/static/css/slick_extra.css" rel='stylesheet' type="text/css"/>  
  
  
   <script src="/static/jquery-ui/jquery-1.9.1.js"></script>
   <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   <script src="/static/js/jquery.json-2.4.js"></script>

  <script type="text/javascript" src="/static/js/underscore-min.js"></script>
  <script type="text/javascript" src="/static/js/backbone-min.js"></script>
 
<script type="text/javascript" src="/static/js/jquery.jsPlumb-1.5.3-min.js"></script>
<script type="text/javascript" src="/static/js/tablednd.js"></script>
<script src="/static/d3/d3.min.js" charset="utf-8"></script>

  
   
  <script type="text/javascript" src="/static/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/lib/jquery.event.drag-2.2.js"></script>  
  <script type="text/javascript" src="/static/SlickGrid/lib/jquery.event.drop-2.2.js"></script>  
   
  <script type="text/javascript" src="/static/SlickGrid/slick.core.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/plugins/slick.checkboxselectcolumn.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/plugins/slick.rowselectionmodel.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/slick.editors.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/slick.formatters.js"></script>
  <script type="text/javascript" src="/static/SlickGrid/slick.grid.js"></script>
   
   
   <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
   <script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>

   ${self.scriptFiles()}
 
<script type="text/javascript"> 
	
 $(document).ready( function() {	
  // $(".fancybox").fancybox({ autoSize: false, fitToView : false, type: 'image' });
 
  ${self.docReady()} 
 
 });
  
</script>
 
 </head>

   
<body>  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </a>
          <a class="brand" style="font-size: small" href="/"><b>LID / striatal gene expression</b></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Tables</a></li>
              <li><a href="/gsea">GSEA</a></li>
              <li><a href="/aims">AIMS data</a></li>
	      <li><a href="/methods">Analysis Methods</a></li>
              <li><a href="/data">Data</a></li>
              <li><a href="/code">Source Code</a></li>
	      </ul>
            <ul class="nav pull-right">
		<li><form class="navbar-search pull-right" action="/search">
		<input type="text" class="search-query" name="q" style="width: 120px" placeholder="search genes">
	      </form></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    </div>
 
  <div style="height: 100%; min-height: 100%; ">

  ${self.body()}
  </div>
  
 </body>

 
<%def name="docReady()"></%def>
<%def name="scriptFiles()"></%def>