<%inherit file="base.html"/>
<%
import pandas as pd

%>
<div class="container-fluid" style="margin-top: 60px">

<div class="row-fluid">

	<div class="span2">
	  <ul class="nav nav-list affix">
	  	  
	  <li class="nav-header"><a href="#rawdata">Individual<br> Measurements</a></li>
	  
	  <li class="nav-header"><a href="#group_comparison">Group Comparisons</a></li>
	  
	  <li class="nav-header">Linear Models</li>
	  
	  <ul class="nav nav-list sidenav">
	    <li class="sidenav"> <a href="#CP73">CP73</a></li>
		<ul class="nav nav-list">
		  <li class></li>
		</ul>
	    
	    
	    <li class="sidenav"><a href="#CP101">CP101</a></li>
	  
	  </ul>
	</div>

<div class="span9">

	<div class="row-fluid">
		<div class="page-header">
		<h1> ${probeset} </h1>
		<h1> <a href="http://www.ncbi.nlm.nih.gov/gene/?term=${gene_symbol}" target='_genepage' ">${gene_symbol}</a><small> ${gene_name} </small> </h1>
		</div>
		
		<div class="section" id="rawdata">
		<h5>AIM Score vs. Gene Expression </h5>
		Full X range:
		<a class="fancybox" href="/probeset/figure/${probeset}/scatter/f/png"><img src="/probeset/figure/${probeset}/scatter/f/png"></img></a>
		</div>
			
		<div class="section" id="rawdata">
		Auto X range:
		<a class="fancybox" href="/probeset/figure/${probeset}/scatter/a/png"><img src="/probeset/figure/${probeset}/scatter/a/png"></img></a>
		</div>
		
		

		<div class="section" id="group_comparison">
		<h5>Group Comparisons: Boxplots</h5>
		<a class="fancybox" href="/probeset/figure/${probeset}/boxplot/a/png"><img src="/probeset/figure/${probeset}/boxplot/a/png"></img></a>
		</div>
		
		<div class="section" id="CP73">
		<h3> CP73 </h3>

		<h4> Model Comparison: AIM ~ expression + C(dose) vs AIM ~ C(dose) </h4>
		
		<%
		c = cp73_modelComp["aim_model_fits"]["AIM ~ expression + C(dose)"].compare_f_test( cp73_modelComp["aim_model_fits"]["AIM ~ C(dose)"] )
		%>
	
		<table class="datatable" >
		<tr> <th>F-statistic</th> <th> p-value </th> <th> df difference </th> </tr>
		<tr> <td> ${ "%3.3f" % c[0]} </td> <td> ${"%3.3f" % c[1]} </td> <td> ${c[2]} </td> </tr>
		</table>
		

		
		
		% for m in cp73_modelComp["aim_models"]:
		
			<h4>Model: <br> ${m}</h4>
			<div class="model">
			${cp73_modelComp["aim_model_fits"][m].summary().as_html()}
			</div>
		
			<hr>
		
		% endfor
		</div>
	
		<div class="section" id="CP101">
		<h3> CP101 </h3>
		
		<h4> Model Comparison: AIM ~ expression + C(dose) vs AIM ~ C(dose) </h4>
		
		<%
		c = cp101_modelComp["aim_model_fits"]["AIM ~ expression + C(dose)"].compare_f_test( cp101_modelComp["aim_model_fits"]["AIM ~ C(dose)"] )
		%>
	
		<table class="datatable" >
		<tr> <th>F-statistic</th> <th> p-value </th> <th> df difference </th> </tr>
		<tr> <td> ${ "%3.3f" % c[0]} </td> <td> ${"%3.3f" % c[1]} </td> <td> ${c[2]} </td> </tr>
		</table>
		
		
		
		% for m in cp101_modelComp["aim_models"]:
		
			<h4>Model: <br> ${m}</h4>
			<div class="model">
			${cp101_modelComp["aim_model_fits"][m].summary().as_html()}
		
			</div>
		
			<hr>
		
		% endfor
		</div>
	</div>

</div>




<!-- 

<div class="span5">

<h2> CP73 </h2>

% for m in cp73_modelComp["expr_models"]:

	<h4>Model: <br> ${m}</h4>
	<div class="model">
	${cp73_modelComp["expr_model_fits"][m].summary().as_html()}


	</div>

	<hr>

% endfor

<h2> CP101 </h2>

% for m in cp101_modelComp["expr_models"]:

	<h4>Model: <br> ${m}</h4>
	<div class="model">
	${cp101_modelComp["expr_model_fits"][m].summary().as_html()}

	</div>

	<hr>

% endfor

</div>
-->

</div>

</div>

