## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

<script type="text/javascript" src="/static/js/slick.remotemodel.js"></script>
<script type="text/javascript" src="/static/grizzly/components/tableview/tableview.js"></script>

<script type="text/javascript">
  var grid = null;
  var loader = null;

</script>

<%def name="docReady()">

</%def>


<div id="maincontainer" class="container-fluid fill">
  
  <div class="row-fluid">
	<div class="span3">
	  <div>
	  <h5> dimension type atoms </h5>
	  </div>
  
	  <div>
	  <h5> dimension type ordering </h5>
	  </div>
      </div>	

      <div class="span2"><h5>filters</h5>
      </div>
      
      <div class="span7">
	<h3 id="dataset_title"></h3> 
	<h6 id="dataset_description"></h6> 
	<h6> <span id="dataset_total"></span> records</h6> 

      </div>
  </div>

  <div class="row-fluid fill">

	<div class="span3" style="height: 100%; min-height: 100%;">
    	    <div id="dimensiontable" class="fill" style="min-height:100%; height: 100%; min-width: 100%; overflow: auto"></div>
	</div>

	<div class="span2" style="height: 100%; min-height: 100%;">
	    <div id="filter_drop_target" style="background: #FFEEEE; border: 1px solid grey; height: 200px; padding: 20px">Drag and drop dimension here to create a filter</div>
	</div>
	
	
	<div class="span7" style="height: 100%; min-height: 100%; box-sizing:border-box;">
	  <div id="datatable" class="fill" style="min-height: 100%; height: 100%; min-width: 100%"></div>
	</div>
	
  </div>
    
	
</div>